<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Brackets extension badges - Download statistics</title>

    <link rel="icon" type="image/x-icon" href="img/favicon.png"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!--Import custom css-->
    <link rel="stylesheet" href="css/stylesheet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Brackets extension badges are download counters for your Brackets extensions,
    as Adobe doesn't provide any official way to retrieve statistics.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="google-site-verification" content="AP7ip-eAPj3abUpEkg2_RJsN3o-kUWd83TwIrxfyDCQ" />
</head>
<body>
<!--Header-->
<header class="section teal lighten-2" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <h1 class="header center-on-small-only">
                    Brackets extension badges
                </h1>
                <h2 class="light white-text center-on-small-only">
                    Download counters for your brackets extension
                </h2>
            </div>
        </div>
    </div>
</header>



<main>
    <!--Loader-->
    <div v-cloak="true" class="progress lighten-2"
         v-bind:class="{ grey: status == 'loading', white: status != 'loading'}">
        <div v-if="status == 'loading'" class="indeterminate teal lighten-2"></div>
    </div>

    <div class="container">
        <!--Server error card-->
        <div v-cloak="true" v-if="status == 'error'" class="row server-error">
            <div class="card red accent-1 white-text">
                <div class="card-content">
                    Oops, it looks like the server is down. Please come back later...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <p class="main-description col m12">
                    <b>Brackets extension badges</b> are download counters for your Brackets extensions, as Adobe
                    doesn't provide any official way to retrieve download statistics, even for your own extension.
                    <br>
                    <br>
                    Just search for your extension to start:
                </p>
            </div>
        </div>

        <!--User input-->
        <div class="row input">
            <div class="input-field col s12">
                <input type="text" id="extension-name-input" class="autocomplete" v-on:keyup="updateName"
                       v-bind:value="extensionName">
                <label for="extension-name-input">Extension name</label>
            </div>
        </div>

        <!--Result-->
        <div v-cloak="true" v-if="validName" class="row result card z-depth-4">
            <div class="col s12 badges">
                <div class="grey-text text-darken-3">
                    <div class="right">
                        <button class="btn-floating btn-large waves-effect waves-light teal lighten-1 clipboard" v-bind:data-clipboard-text="getLink()">
                            <i class="material-icons">link</i>
                        </button>
                    </div>
                    <h3>{{ extensionName }}</h3>
                    <a v-for="badge in badges" v-bind:href="'#' + badge.method + '-modal'" class="badge">
                        <img src="#" v-bind:src="badge.imgUrl + '?do_not_track'" alt="badge" v-bind:alt="badge.method + ' downloads of ' + extensionName" class="hoverable">
                    </a>
                    <p v-if="typeof(json.data.name) !== 'undefined'" class="statistics-description">
                        Overall, <b>{{ json.data.name }}</b> has been downloaded {{ format(json.data.total) }} times, including
                        {{ format(json.data.lastVersion) }} downloads for the last version
                        <br>
                        It has been downloaded {{ format(json.data.week) }} times over the last 7 days, which
                        represents around {{ format(json.data.week / 7) }} downloads per day
                        <br>
                        <br>
                        Compared to other extensions, <b>{{ json.data.name }}</b> is part of the top {{ ranking }}%
                        in terms of number of downloads
                        <br>
                        <br>
                        Click on the badges to get links and markdown syntax, and add them to your Github
                        <tt>README.md</tt> to show your extension's popularity!
                    </p>
                    <p class="raw-data">
                        Need raw data ?
                        <button class="waves-effect waves-light teal lighten-1 btn json-button" data-target="json-modal">Get JSON</button>
                    </p>
                    <div v-for="badge in badges" v-bind:id="badge.method + '-modal'" class="modal">
                        <div class="modal-content">
                            <h5>Image
                                <button class="btn-flat waves-effect waves-teal clipboard"
                                    v-bind:data-clipboard-text="badge.imgUrl">
                                    <i class="material-icons">content_copy</i>
                                </button>
                            </h5>
                            <code>{{ badge.imgUrl }}</code>
                            <h5>Markdown
                                <button class="btn-flat waves-effect waves-teal clipboard"
                                    v-bind:data-clipboard-text="'[![Downloads](' + badge.imgUrl + ')](https://brackets-extension-badges.github.io#' + extensionName + ')'">
                                    <i class="material-icons">content_copy</i>
                                </button>
                            </h5>
                            <code>{{ '[![Downloads](' + badge.imgUrl + ')](https://brackets-extension-badges.github.io#' + extensionName + ')' }}</code>
                        </div>

                        <div class="modal-footer">
                            <button class="btn-flat waves-effect waves-teal modal-action modal-close">Got it</button>
                        </div>
                    </div>
                    <div class="modal" id="json-modal">
                        <div class="modal-content">
                            <h5>URL
                                <button class="btn-flat waves-effect waves-teal clipboard" v-bind:data-clipboard-text="json.url">
                                    <i class="material-icons">content_copy</i>
                                </button>
                            </h5>
                            <code>{{ json.url }}</code>
                            <h5 v-if="json.result != ''">Result</h5>
                            <code v-if="json.result != ''">{{ json.result }}</code>
                        </div>

                        <div class="modal-footer">
                            <button class="btn-flat waves-effect waves-teal modal-action modal-close">Got it</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Footer-->
<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s4 copyright">
                <a class="grey-text text-lighten-4"
                   href="https://github.com/bokub" target="_blank">
                    © 2017 bokub
                </a>
            </div>
            <div class="col s4 center">
                <a href="https://github.com/brackets-extension-badges" target="_blank">
                    <img src="img/github-logo.png" height="32" alt="Github logo">
                </a>
            </div>
            <div class="s4">
                <div class="right">
                    <a v-cloak class="github-button" href="https://github.com/brackets-extension-badges/brackets-extension-badges.github.io" data-icon="octicon-star" data-style="mega" data-count-href="/brackets-extension-badges/brackets-extension-badges.github.io/stargazers" data-count-api="/repos/brackets-extension-badges/brackets-extension-badges.github.io#stargazers_count">Star</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Set the server URL-->
<script src="server-url.js"></script>
<!--Import jQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--Import materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<!--Import clipboard.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<!--Import numeral.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<!--Import Vue.js-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!--Import overridden materialize.js -->
<script src="js/forms.js"></script>
<!--Import javascript for the page -->
<script src="js/vue.js"></script>
<!-- Github button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
